

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
::after
::before{
    margin: 0;
    padding: 0;

}
a:hover{
    color: red !important;
}
.navbar-brand img{
    width: 200px;
    height: 100px;
    box-sizing: border-box;

}
.navigation-wrap{

box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.09);
transition: all .15s ease-in-out 0s;
}
.navbar-toggler:active{

    outline: unset;
    border: unset;
}
.nav-item{
    font-weight:400 ;
    letter-spacing: 2px;
   
    
}
.nav-item:active{
    font-weight: 1000;
}
.btn:active{
    background-color: white !important;
    color: brown !important;
    
}
.navbar-toggler-icon{
    width: 2000px;
}
.nav-link{
    text-transform:  uppercase;
}
button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
    color: brown;
    font-weight: 700 !important;
}
.pp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section1{
    background-image: url(26224516.jpg);
    background-size: cover;
    padding: 12em 0 2em;
    padding-bottom: 12em;
    background-position: 230px 100px ;
    
}


.section1 h2{
    color:brown;
    font-size: 50px;

    
}
@media (max-width : 1px){
    .navbar-brand img{
        height: 4.8125rem;
    }
    button{
        padding: 110rem;
    }

}
@media(max-width : 767px){
    h2{
    font-size: 66rem;
    line-height: 3rem;
    }
    button{
        padding: 110rem;
    }
}
.text1{
    font-weight: 500;
    word-spacing: 12px;
}
.section22{
    background-color: brown;
}
.section22 h2{
    color: aliceblue !important;
}
.section3 .card,
.section3 .card img
{
    border-radius: 0.625rem;
}
.section3{
    background:white ;
}
.list{
    
    line-height: 35px;
}
.list ul{
   
  
    font-size: 22px;
}
@media (max-width : 767px){
.section5{
    height: auto;

}
}
.list1 p{
    font-size: larger;
}


.list ul li{
    content: '\f00c';
    font-family:"font aswome 5 free";
    list-style:square ;
    }
    .section5{
        background: url('https://i.pinimg.com/originals/8f/a9/f2/8fa9f236abea637935de62e1d0dc777f.jpg');

        background-size: cover;
        background-repeat: no-repeat;
      height: 282px;
      
    }
   